/* RESET  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */
html {
    font-family: "Whitney", sans-serif;
    font-size: 100%;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
text-decoration: none;
}

.grey{
    background-color: lightgrey;
}

/* STRUTTURA BLOCCHI PAGINA  */
.container{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;

    /* TEST  */
    /* border: 2px solid red; */
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.col{
    float: left;

    /* TEST */
    /* width: 60px; */
    /* height: 60px; */
    /* background-color: blueviolet; */
}

/* BOTTONI */
.btn{
    display: inline-block;
    border-radius:50px;
}

.btn-white{
background-color: white;
color: black;
}

.btn-small{
    padding: .5em 1em;
    font-size:.9em;
}

.btn-dark{
    background-color: #24272a;
    color: white;
    }

.btn-large{
    padding: .7em 2em;
    border-radius: 50px;
}
/* PROPRIETA' DI TESTO  */
.text{
    font-size: .9em;
    line-height:1.8em;
}

/* HEADER  */
header{
    background-color:#3161e0 ;
    height: 60px;
}

.header-nav{ /* Lo diamo al contenitore perché è un comda eriditabile essendo testo e poi serve a tutti  */
    line-height: 60px;/* non middle perché devi darli un altezza a cui fare riferimento  */
    color: white;
}

.nav-logo img{
    width: auto;
    vertical-align: middle ;
    height: 40px;
}

.nav-logo,
.nav-btn{
    width: 15%;

    /* TEST  */
    /* background-color: rgb(240, 6, 6); */
}

.nav-center{
    width: 70%;
    text-align: center;
    /* TEST  */
    /* background-color: blueviolet; */
}

.nav-center .header-menu li{
    margin:0 1em;
    display:inline-block
}

.nav-center .header-menu a{
    font-size: 1em;
    font-family: bold;
    color: inherit;
}

.nav-btn{
    text-align: end;
}

.nav-btn a{
    line-height: normal;
}

/* MAIN  */
/* Jumbotron */
.jumbotron{
    /* height: 400px; */ /* LO USEREMO SENZA MAGARI SI AGGIUNGE ROBA IN FUTURO */
    background-image: url(../img/jumbo.png);
    background-size: cover ;
    background-position:center;
    background-repeat: no-repeat;
    padding: 8em 0;
    text-align: center;
    /* position: relative; */ /* Volevo usare position absoliute per suo figlio */
}

.jumbotron-content{
    width: 50%;
    /* text-align: center; */
    color: white;
    margin: 0 auto; /*  Per distanziarlo in verticale, usuamo padding, ma su jumbotron */
    /* SI POTREBBE FARE ANCHE COSI', MA SI ABUSA DI ABSOLUTE */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */ /*  */
}

.jumbotron-content .jumbotron-title{
    font-size:2.5em;
    margin-bottom: .8em;
}

.jumbotron .buttons{
    margin-top: 1em;
}

.jumbotron .buttons :first-child{
    margin-right: 1em;
}

/* ADVAMNTAGE SECTION  */
.advantage{
    padding: 2em;
    
    /* TEST  */
    /* background-color: pink; */
}

.col-img{
    width: 60%;
    /* background-color: pink; */
    margin: ;
}

.col-text{
    width: 40%;
    /* background-color: #e91212; */
    text-align: center;
    margin-top: 2.9em;
    padding:0 3em;
}

.col-text h1{
    line-height: 2.3em;
}

.col-text4{
    width: 100%;
    /* background-color: #e91212; */
    text-align: center;
    margin-top: 2.9em;
    padding:0 3em;
}

.col-img4{
    width: 100%;
    height: 500px;
    /* background-color: pink; */
    background-image: url(../img/item4-big.svg);
    background-repeat: no-repeat;
    background-size: cover;
}






